{% extends "base.html" %}

{% block title %}비밀번호 찾기{% endblock %}

{% block sectionid %}passwordreset{% endblock %}

{% block body %}

<div class="container">
	<section class="col-md-3">
	</section>

	<section class="col-md-6">
		<div class="raw">
			<div class="explain-text">
				<h2 class="hanna">비밀번호가 기억나지 않으세요?</h2>
        <br/>
        <p> <b>아이디</b>와 <b>비밀번호</b> 잊으셨다면 등록된 휴대폰 번호로 해결할 수 있어요!</p>
			</div>

      <div class="form-box col-md-8 col-md-offset-2">
        <form method="post" action="">
          <div class="form-group">
            <label for="phone-number">휴대폰 번호 입력</label>
              <input name="phone-number" type="text" maxlength="11" value="" class="form-control" placeholder=" `-`을 빼고 입력해주세요  ex) 01012345678">
          </div>
           <input type="button" name="sendphone" class="btn btn-default" value="아이디/번호찾기">

        </form>
			</div>

	  </div>
	</section>

	<section class="col-md-3">
	</section>

</div>
<script type="text/javascript">
  $sendPhoneButton = $("[name=sendphone]");

  $sendPhoneButton.on('click', function(event){

    $phone_number = $("[name=phone-number]").val();
    if($phone_number.length<10){
      alert("올바른 휴대폰번호를 입력해주세요");
    }else{
      $.ajax({
        method:'POST',
        url:'/api/phonenumber/sms/check/',
        data:{
          phone_number: $phone_number,
        },
      }).done(function(){ alert('done'); });
    }
  });
</script>
{% endblock %}
