{% extends "base.html" %}

{% block title %}비밀번호 찾기{% endblock %}

{% block sectionid %}passwordreset{% endblock %}

{% block body %}

<div class="container">
	<section class="col-md-1">
	</section>

	<section class="col-md-10">
		<div class="raw">
			<div class="explain-text">
				<h3 class="hanna">비밀번호가 기억나지 않으세요?</h3>
        <p> 회원가입 시 입력했던 휴대폰 번호로 아이디와 비밀번호를 조회할 수 있어요!</p>
			</div>

      <div class="form-box col-md-8 col-md-offset-2">

        <form method="post" action="">


        </form>

			</div>

	  </div>
	</section>

	<section class="col-md-1">
	</section>

</div>
{% endblock %}
