{% extends "base.html" %}

{% block title %}비밀번호 찾기{% endblock %}

{% block sectionid %}passwordreset{% endblock %}

{% block body %}

<div class="container">
	<section class="col-md-3">
	</section>

	<section class="col-md-6">
		<div class="raw">
			<div class="explain-text">
				<h2 class="hanna">비밀번호가 기억나지 않으세요?</h2>
        <br/>
        <p> <b>아이디</b>와 <b>비밀번호</b> 잊으셨다면 등록된 휴대폰 번호로 해결할 수 있어요!</p>
			</div>

      <div class="form-box col-md-8 col-md-offset-2">
        <form method="post" action="">
          <div id="phone-div" class="form-group">
            <label for="phone-number">휴대폰 번호 입력</label>
              <input name="phone-number" type="text" maxlength="11" value="" class="form-control" placeholder=" `-`을 빼고 입력해주세요  ex) 01012345678">
          </div>
           <input type="button" name="sendphone" class="btn btn-default" value="아이디/번호찾기">

        </form>
        <form action="" method="post">
            {% csrf_token %}
            <div id="result">
            </div>
        </form>

			</div>
	  </div>
	</section>

	<section class="col-md-3">
	</section>

</div>
<script type="text/javascript">
  $sendPhoneButton = $("[name=sendphone]");
  $result = $("#result");

  $sendPhoneButton.on('click', function(event){

    $phone_number = $("[name=phone-number]").val();
    if($phone_number.length<10){
      alert("올바른 휴대폰번호를 입력해주세요");
    }else{
      $.ajax({
        method:'POST',
        url:'/api/phonenumber/sms/check/',
        data:{
          phone_number: $phone_number,
        },
      }).done(function(data){
          alert("본인인증 번호가 전송되었습니다. 서버상황에 따라 3분 정도 소요됩니다.");
          $result.html("<br><input id='input_token' type='text' name='tokenbox' class='form-control form-token' placeholder='인증번호를 입력하세요' required> <input type='button' class='btn btn-default' id='checktoken' value='인증확인'> ");
          $sendPhoneButton.remove();
          $created_button = $('#checktoken');
          checktoken($created_button);

      })
      .fail(function(){
          alert("입력하신 정보에 일치하는 유저가 없어요!");
      });
    }
  });

function checktoken(created_button){
    created_button.on('click', function(event){
        $token_num = $('input[name=tokenbox]');
        console.log($token_num.val())

        $.ajax({
            url: '/api/token/check/',
            method: 'PUT',
            data: { token_num: $token_num.val(), phone_number: $phone_number},
            success: function(result){
                if(result.certification==true){
                    console.log("인증성공");
                    $created_button.remove();
                    $('#phone-div').remove();
                    $('#input_token').remove();
                    $result.html('<h3 class="hanna">회원님의 아이디는 "  <b style="color:red">'+ result.username + '</b> "  입니다</h3> <br/><label for="insert-password">재 설정할 비밀번호를 입력해주세요 ^^</label>  <input name="input-password" type="password" class="form-control"> <label for="check-password"> 한 번만 더 입력해주세요!</label> <input name="password-check" type="password" class="form-control"><input name="hidden_username" type="hidden"><input id="change-password-button" type="submit" class="btn btn-default" value="비밀번호 변경" disabled="true">');

                    $passwordBox = $('[name=input-password]');
                    $passwordCheckBox = $('[name=password-check]');
                    $hiddenInput = $('[name=hidden_username]');
                    $hiddenInput.val(result.username);

                    $passwordChangeButton = $('#change-password-button');

                    $label = $('label[for=check-password]');

                    $passwordCheckBox.keyup(function(){
                        if($passwordBox.val()!==$passwordCheckBox.val()){
                            $label.text("비밀번호가 일치하지 않아요!").css("color", "red");
                            $passwordChangeButton.attr('disabled', true);
                        }else{
                            $label.text("비밀번호가 일치합니다!").css("color", "blue");
                            $passwordChangeButton.attr('disabled', false);
                        }
                    });

                }else{
                    alert("인증번호가 일치하지 않습니다");
                }
            },
        });
    });
}

</script>
{% endblock %}
