{% extends "base.html" %}

{% block title %}남서울 도서공유{% endblock %}

{% block sectionid %}home{% endblock %}


{% block body %}
<div class="container">
		<section class="col-md-2">
		</section>

		<section class="col-md-8">
			<h3 class="hanna">학우분들이 직접 올려주신 도서들입니다.</h3>
			{% for post in posts %}
                {% if post.is_ended_semester %}
				<div class="panel panel-danger">
                {% else %}
				<div class="panel panel-success">
                {% endif %}
                <div class="panel-heading">
                        <div class="{% if post.is_ended_semester %}end-semester{% endif %}">
							<h4>
								<a href="{% url "postdetail" post.id %}">
                                    {% if post.is_ended_semester %}
                                        {{post.title}}(지난 학기에 등록된 포스트입니다.)
                                    {% else %}
                                        {{post.title}}
                                    {% endif %}
								</a>
							</h4>
						</div>
						<div style="text-align:right">
							{{ post.created_at|date:"Y년 m월 d일 g:i A" }}
						</div>
					</div>
					<div class="panel-body">판매자 : {{post.user.nickname}}</div>
					{% comment %}
					<div>
						<ul>
              {% for post_info in post.booklist_set.all %}
              	{% if forloop.counter0 < 2 %}
									<li>{{ post_info.bookname }}</li>
								{% endif %}
						{% endfor %}
						</ul>
					</div>
					{% endcomment %}
				</div>
			{% endfor %}
		</section>


		<section class="col-md-2">
		</section>
</div>
{% endblock %}
