<footer id="footer" class="footer">
  <div class="container">
  	<div class="row">
  		<section class="col-md-9 hidden-sm hidden-xs">
	  		<h4>이 세상의 모든 책이</h4>
	    	<h4>당신에게 필요한 것은 아닙니다.</h4>	
  		</section>

  		<section class="col-md-3 col-sm-3 col-xs-12">
	  		<div>개발자 Info</div>
        <ul>
          <li>
            <a href="https://www.facebook.com/deadlylaid">
              <i class="fa fa-facebook-official" style="font-size:34px"></i>
            </a>
          </li>

          <li>
            <a href="https://www.instagram.com/healyou_min92/">
              <i class="fa fa-instagram" style="font-size:34px"></i>
            </a>
          </li>

          <li>
            <a href="https://github.com/deadlylaid">
              <i class="fa fa-github-square" style="font-size:34px"></i>
            </a>
          </li>
        </ul>
	    	
  		</section>
		</div>
  </div>
</footer>
