{% extends "base.html" %}
{% load pipeline %}
{% block title %}판매 등록{% endblock %}
{% block body %}
<div class="container">

<div class="col-md-3"></div>

<div class="col-md-6">
  <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
    <div class="from-group">
    <label for="title">제목을 입력해주세요</label>
    <input type="text" class="form-control" maxlength="30" name="title" placeholder="제목" required>
    </div>
<br />
    <div class="form-group">
        <label for="bookname">판매할 도서 이름</label>
        <input type="text" class="form-control" maxlength="30" name="bookname" placeholder="도서 이름" >
    </div>

    <div class="form-group">
        <label for="price" style="display : block;">도서의 가격을 정해주세요, 빈 칸으로 둘 경우 '가격미정'으로 등록됩니다.(단위 원)</label>
        <input type="text" class="form-control" maxlength="20" name="bookprice" placeholder="가격" style="display : inline; width : 40%;">
        <input type='button' class="btn btn-default" name="addlist" value="추가">
    </div>


    <div class="input-group">
        <label class="input-group-btn">
            <span class="btn btn-primary">
                이미지 첨부<input type="file" name='images' style="display: none;" multiple>
            </span>
        </label>
        <input type="text" class="form-control" placeholder='모바일에서는 1장만 등록할 수 있습니다.' readonly>
    </div>

    <ul class="booklist list-group">
    </ul>

    <input type="submit" class="btn btn-default btn-block" id='button'>

    <ul class="hiddenlist">
    </ul>
  </form>

</div>

<div class="col-md-3"></div>

</div>

{% endblock %}

{% block js %}
{% javascript 'booksale' %}
{% endblock %}
