{% extends "base.html" %}
{% load staticfiles %}
{% block title %}상세 페이지{% endblock %}
{% block body %}
<body>
  <p>제목</p>
  <p>{{ post.title }}<p>
  <p>판매할 도서</p>
    <ul class="booklist">
      {% for bookname in post.booklist_set.all %}
      <li id='list{{ forloop.counter }}'>{{ bookname.bookname }}({{ bookname.bookprice }}원)<input type='button' class='cancelbutton' id='btn{{ forloop.counter }}' value='sold out'> </li>
      {% if forloop.last %}<div data-list-num={{ forloop.counter }}></div> {% endif %} 
      {% endfor %}
    </ul>
</body>
{% endblock %}

{% block js %}
<script src="{% static "js/detail.js" %}" type="text/javascript"></script>
{% endblock %}
