{% extends "base.html" %}

{% load pipeline %}

{% block title %}상세 페이지{% endblock %}

{% block sectionid %}detail{% endblock %}

{% block css %}
<style type="text/css">
    .redline{
        text-decoration: line-through;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
<div class="col-md-3"></div>
<div class="col-md-6">

    {% if post.is_deleted %}
    <div class="is-deleted jumbotron-icon">
        <h1 class="hanna"> 해당 게시물은 삭제되었습니다.</h1>
        <i class="fa fa-ban fa-6" aria-hidden="true" style="margin : 50px;"></i>
    </div>
    {% else %}
    <div class="post-title-bar">
        <h1 class="hanna">{{ post.title }}</h1>
        {% if request.user.username == post.user.username %}
            <a class="btn btn-danger" href="{% url "postdelete" post.id %} ">게시물 삭제</a>
        {% endif %}
    </div>

    <div class="item-detail">
    
        <h3 class="hanna">판매 중인 도서</h3>

        <h5 class="text-warning" style="padding-left : 10px; padding-bottom : 10px;">
            {% if request.user.username == post.user.username %}
                상대방에게 문자가 너무 많이 온다면 <strong>'게시물 삭제' </strong>도 좋은 방법입니다.
            {% else %}
                <strong>주의! </strong>문자를 너무 많이 보낼 경우 받는 사람이 불쾌할 수 있으니 한번만 보내기를 권장합니다.
            {% endif %}
        </h5>

        <ul class="booklist list-group">

            {% for bookname in books %}
              {% if not bookname.is_soldout %}
              <li id='list{{ forloop.counter }}' class="list-group-item bk-border-color">{{ bookname.bookname }}({{ bookname.bookprice }}원) {% if request.user.username == post.user.username %}<input type='button' class="bk-float-right" id='btn{{ forloop.counter }}' value='sold out'>{% else %} <input type='button' class="bk-float-right" id='msg{{ forloop.counter }}' value='문자보내기'>{% endif %} </li>
              {% else %}
              <li id='list{{ forloop.counter }}' class='list-group-item list-group-item-danger bk-border-color redline'>{{ bookname.bookname }}({{ bookname.bookprice }}원) {% if request.user.username == post.user.username %}<input type='button' id='btn{{ forloop.counter }}' class="bk-float-right" value='번복하기'>{% endif %}<input type='text' value='이미 판매된 도서입니다' disabled> </li>
              {% endif %}
              {% if forloop.last %}<div class='data' data-list-num={{ forloop.counter }} data-post-id={{ post.id }}></div> {% endif %} 
          {% endfor %}

        </ul>
    
    </div>

    {% if images %}
      <div class="imagebox">
        {% for image in images %}
        <img alt="" class="image" src="{{ image.image.url }}">
        {% endfor %}
      </div>
    {% endif %}

</div>
    {% endif %}
<div class="col-md-3"></div>

</div>

{% endblock %}

{% block js %}
{% javascript 'detail' %}
{% endblock %}
