{% extends "base.html" %}

{% load pipeline %}

{% block title %}사이트 소개{% endblock %}

{% block sectionid %}introduce{% endblock %}

{% block css %}
<style type="text/css">
    .redline{
        text-decoration: line-through;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
<div class="col-md-2"></div>
<div class="col-md-8">

    <div class="introduce">

        <h2 class="hanna">서비스 소개</h2>
        <p>남서울대학교 학생을 위한 중고도서 거래 사이트</p>

        <br>
        <br>

        <p style="font-size:17px"><strong>북커넥트</strong>는 매 학기 전공도서와 교향도서를 구매하기 위한 돈을 마련하기 어려운 학우들을 위해 만들어진 무료 중고도서 거래 사이트입니다. 남서울대의 모든 학우분들은 도서관에서 비싼 돈을 지불하여 도서를 구매할 필요 없이 학우들이 올려놓은 중고 도서를 저렴한 가격에 구매하실 수 있습니다.</p>

        <br>
        <br>
        <br>

        <h2 class="hanna">서비스 연혁</h2>

        <div class="col-md-3">
          <h3 class="hanna">2017년  1월</h3>
          <br>
          <h3 class="hanna">2016년 11월</h3>
        </div>
        <div class="col-md-5">
          <h3> </h3>
          <p>남서울대학교 23대 총학생회 "울림"  홍보 협력</p>
          <br>
          <h3></h3>
          <p>북커넥트 서비스 오픈 V1.0</p>

        </div>
    </div>

</div>
<div class="col-md-2"></div>

</div>
        <br>
        <br>
        <br>

{% endblock %}

{% block js %}
{% endblock %}
