{% extends "base.html" %}
{% load pipeline %}

{% block title %}남서울 도서공유{% endblock %}

{% block body %}
<div class="container">
	<section class="col-md-2"></section>
	<section class="col-md-8">

	<div class="form-inline">
        <form action="/search/" method="get" class="search">
            <div class="form-group bookconnect-form">
                <div id="alert"></div>
                <input type="submit" class="btn btn-default" value="검색">
                <label class="sr-only"for="keyword">keyword</label>
                <input type="text" class="form-control bookconnect-input-text" name="q" placeholder="제목과 책 이름으로 검색됩니다." required style="width : 90%; height : 42px; margin-bottom : 10px;">
            </div>
        </form>
	</div>

<br>
<br>
{% if posts %}
	{% for post in posts %}
        {% if post.is_ended_semester %}
        <div class="panel panel-danger">
        {% else %}
        <div class="panel panel-success">
        {% endif %}
            <div class="panel-heading">
                <div>
                    <h4>
                        <a href="{% url "postdetail" post.id %}">
                            {% if post.is_ended_semester %}
                            {{ post.title }}(지난 학기에 등록된 포스트입니다.)
                            {% else %}
                            {{post.title}}
                            {% endif %}
                        </a>
                    </h4>
                </div>
                <div style="text-align:right">
                    {{ post.created_at|date:"Y년 m월 d일 g:i A" }}
                </div>
            </div>
            <div class="panel-body">판매자 : {{post.user.nickname}}</div>
		</div>
		<br>
		<br>
	{% endfor %}
{% else %}
	<div>
		<p><strong>"{{ q }}"</strong>에 대한 검색 결과가 없습니다.</p>
	</div>
{% endif %}


<nav>
	<ul class="pagination">
	{# "comment -1" 만약 이전이 있다면 이전을 표시한다 #}
		{% if posts.has_previous %}
			<li>
				<a href='/lists/?page={{ posts.previous_page_number }}'> 이전 </a>
			</li>
		{% endif %}
		{# "comment -1" END #}

		{% for page_number in page_list %}
			{% if page_number == posts.number %}
				<li class="page-item active"><a class="page-link" href="#" style="background-color : #007E33; border-color : #007E33;">{{ page_number }}</li></a>

			{% elif page_number == "..." %}
				<li class="page-item disabled"><a class="page-link" href="#">{{ page_number }}</li></a>
			{% else %}
				<li><a href='/lists/?page={{ page_number }}'>{{ page_number }}</a></li>
			{% endif %}
		{% endfor %}

		{# "comment -1" 만약 다음이 있다면 다음을 표시한다 #}
		{% if posts.has_next %}
			<li>
				<a href='/lists/?page={{ posts.next_page_number }}'> 다음 </a>
			</li>
		{% endif %}
		{# "comment -1" END #}
	</ul>
</nav>

	</section>
	<section class="col-md-2"></section>
</div>


{% endblock %}
{% block js %}
{% javascript 'list' %}
{% endblock %}
