{% extends "base.html" %}

{% block title %}남서울 도서공유{% endblock %}

{% block body %}
<div>남서울도서공유 홈</div>
<br>
    <form action="{% url "postsearch" %}" method="get" class="search">
		<input type="text" name="keyword" placeholder="제목만 검색됩니다">
		<input type="submit" value="검색">
	</form>
<br>
<br>
{% if posts %}
	{% for post in posts %}
		<div>
		  <div>제목: <a href="{% url "postdetail" post.id %}">{{ post.title }}</a></div>
		  <div>글쓴이:{{ post.user.nickname }}</div>
		  <div>날짜:{{ post.updated_at }}</div>
		</div>
		<br>
		<br>
	{% endfor %}
{% else %}
	<div>
		<p><strong>"{{ keyword }}"</strong>에 대한 검색 결과가 없습니다.</p>
	</div>
{% endif %}


<nav>
	<ul>
	{# "comment -1" 만약 이전이 있다면 이전을 표시한다 #}
		{% if posts.has_previous %}
			<li>
				<a href='/lists/?page={{ posts.previous_page_number }}'> 이전 </a>
			</li>
		{% endif %}
		{# "comment -1" END #}

		{% for page_number in page_list %}
			{% if page_number == "..." or page_number == posts.number %}
				<li>{{ page_number }}</li>
			{% else %}
				<li><a href='/lists/?page={{ page_number }}'>{{ page_number }}</a></li>
			{% endif %}
		{% endfor %}	

		{# "comment -1" 만약 이전이 있다면 이전을 표시한다 #}
		{% if posts.has_previous %}
			<li>
				<a href='/lists/?page={{ posts.previous_page_number }}'> 이전 </a>
			</li>
		{% endif %}
		{# "comment -1" END #}
	</ul>
</nav>
{% endblock %}
